.vs/*

src/Communication/obj/*
src/Communication/bin/*
src/Data/obj/*
src/Data/bin/*
src/Presentation/obj/*
src/Presentation/bin/*

samples/CommunicationSample/obj/*
samples/CommunicationSample/bin/*
